.head-bar {
    flex: 0 1 50px;
    background-color: black;
    padding: 10px;
}

.head-bar .head-title {
    float: left;
}

.head-bar .head-title .head-title-text {
    font-size: 1.4em;
    line-height: 1.4em;
    color: #fff;
}

.head-bar .head-tools {
    float: right;
}

.btn-test {
    background-color: rgba(21, 101, 192, 0.8);
    color: #fff;
}

.btn-test:hover .btn-test-text{

    color: #fff;
}

.btn-test .btn-test-text {
    font-size: 1em;
    line-height: 1.1em;
}

.area-title{
    color: #fff;
    font-weight: 200;
    font-size: 1.5em;
}

.area-title-black{
    color:#000;
}

.input-base{
	box-shadow: none;
	font-size: 1.2em;
    line-height: 1.5em;
	border-radius: 0px;
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	border-bottom: thin solid #333;
}

.input-base:focus, .input-url:active{
    outline: none;
}

.input-url{
    margin: 10px;
    width: 90%;
    /*background-color:rgba(245, 245, 245, 0.3);*/
	box-shadow: none;
	font-size: 1.2em;
    line-height: 1.5em;
	border-radius: 0px;
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	border-bottom: thin solid;
}

.input-url:focus, .input-url:active{
    outline: none;
}

.input-right, .input-right:focus{
    border-bottom: thin solid rgba(0, 200, 83, 1);
}

.input-error, .input-error:focus{
    border-bottom: thin solid rgba(213, 0, 0, 1);
}

.step-brief{
    margin: 5px auto;
    padding:20px;
    width: 90%;
    border: 1px solid rgba(60, 116, 247, 1);
    border-radius: 5px;
}

.step-brief-success{
    /*background-color: rgba(178, 255, 89, 0.862);*/
}

.step-brief-failed{
    /*background-color: rgba(246, 0, 56, 0.878);*/
}

.step-brief .step-brief-text{
    font-size: 1.2em;
    line-height: 1.3em;
}

.step-img{
    margin:10px auto;
    cursor: pointer;
}

.step-img-small{
    margin:10px auto;
    cursor: pointer;
    width: 100px;
}

/*img.full-img{
    max-width: 100%;
    width:auto;
}*/

.msg{
    position: fixed;
    top:50px;
    right: 10px;
    width: 220px;
    height: 100px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(0, 200, 83, 0.886);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.msg span{
    color:#FFF;
    font-size: 1.2em;
    flex: 0 1 auto;
}

.btn-user{
    background-color: rgba(129, 212, 250, 0.577);
    color: #fff;
    font-size: 1.1em;
    margin-right: 10px;
    line-height: 1.2em;
    padding: 6px 12px;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-appearance: button;
}

.btn-user:hover, .btn-user:focus{
    color: #aaa;
}

.btn-circle{
    width: 30px;
    height: 30px;
    font-size: 1em !important;
    text-align: center !important;
    margin:2px;
    border-radius: 50% !important;
}

.step-detail-area{
    width:90%;
    margin:10px auto;
}

.detail-hint-block{
    width:100%;
}

.detail-desc-block{
    width:95%;
    margin:20px auto;
    min-height: 20px;
    font-size: 1.2em;
    color:#444;
    background-color: rgba(220, 220, 220, 0.652);
    padding:10px 20px;
    border-left: 5px solid #aaa;
}

span.success-bar{
    background-color: rgba(100, 221, 23, 1);
    padding: 10px;
    border-radius: 5px;
}

span.fail-bar{
    background-color: rgba(183, 28, 28, 1);
    color:#fff;
    padding: 10px;
    border-radius: 5px;
}

span.warning-bar{
    background-color: #f0ad4e;
    color:#fff;
    padding: 10px;
    border-radius: 5px;
}   

ul.customed-menu{
    border-radius: 0px;
    padding: 10px;
}

ul.customed-menu li{
    text-align: left;
    width: 90%;
    margin: 10px auto;
}