.head-bar {
    flex: 0 1 50px;
    background-color: black;
    padding: 10px;
}

.head-bar .head-title {
    float: left;
}

.head-bar .head-title .head-title-text {
    font-size: 1.4em;
    line-height: 1.4em;
    color: #fff;
}

.head-bar .head-tools {
    float: right;
}

.btn-test {
    background-color: rgba(0, 200, 83, 0.4);
    color: #fff;
}

.btn-test:hover{
    line-height: 2em;
}

.btn-test:hover .btn-test-text{
    font-weight: bold;
    color: #fff;
}

.btn-test .btn-test-text {
    font-size: 1em;
    line-height: 1.1em;
}

.area-title{
    color: #fff;
    font-weight: 200;
    font-size: 1.5em;
}

.area-title-black{
    color:#000;
}


.input-url{
    margin: 10px;
    width: 80%;
    background-color:rgba(245, 245, 245, 0.3);
    color:#eee;
	box-shadow: none;
	font-size: 1.2em;
    line-height: 1.5em;
	border-radius: 0px;
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	border-bottom: 2px solid;
}

.input-url:focus, .input-url:active{
    outline: none;
}

.input-right, .input-right:focus{
    border-bottom: 2px solid rgba(0, 200, 83, 1);
}

.input-error, .input-error:focus{
    border-bottom: 2px solid rgba(213, 0, 0, 1);
}

.step-brief{
    margin: 5px auto;
    padding:20px;
    width: 90%;
    border: 1px solid rgba(60, 116, 247, 1);
    border-radius: 5px;
}

.step-brief-success{
    background-color: rgba(178, 255, 89, 0.862);
}

.step-brief-failed{
    background-color: rgba(246, 0, 56, 0.878);
}

.step-brief .step-brief-text{
    font-size: 1.2em;
    line-height: 1.3em;
}

.step-img{
    margin:10px auto;
}

/*img.full-img{
    max-width: 100%;
    width:auto;
}*/